@font-face {
    font-family: 'karlabold';
    src: url('../fonts/karla/karla-bold-webfont.eot');
    src: url('../fonts/karla/karla-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/karla/karla-bold-webfont.woff') format('woff'), url('../fonts/karla/karla-bold-webfont.ttf') format('truetype'), url('../fonts/karla/karla-bold-webfont.svg#karlabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'karlabolditalic';
    src: url('../fonts/karla/karla-bolditalic-webfont.eot');
    src: url('../fonts/karla/karla-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/karla/karla-bolditalic-webfont.woff') format('woff'), url('../fonts/karla/karla-bolditalic-webfont.ttf') format('truetype'), url('../fonts/karla/karla-bolditalic-webfont.svg#karlabolditalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'karlaitalic';
    src: url('../fonts/karla/karla-italic-webfont.eot');
    src: url('../fonts/karla/karla-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/karla/karla-italic-webfont.woff') format('woff'), url('../karla/fonts/karla-italic-webfont.ttf') format('truetype'), url('../fonts/karla/karla-italic-webfont.svg#karlaitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'karlaregular';
    src: url('../fonts/karla/karla-regular-webfont.eot');
    src: url('../fonts/karla/karla-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/karla/karla-regular-webfont.woff') format('woff'), url('../fonts/karla/karla-regular-webfont.ttf') format('truetype'), url('../fonts/karla/karla-regular-webfont.svg#karlaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pacificoregular';
    src: url('../fonts/pacifico/pacifico-webfont.eot');
    src: url('../fonts/pacifico/pacifico-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pacifico/pacifico-webfont.woff') format('woff'), url('../fonts/pacifico/pacifico-webfont.ttf') format('truetype'), url('../fonts/pacifico/pacifico-webfont.svg#pacificoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: "karlaregular", Arial, sans-serif;
}

p {
  line-height: 1.5em;
}

.smallcontainer {
    margin: 0 5%;
}

h1,
h2 {
    font-family: "pacificoregular", Arial, sans-serif;
}

nav {
    background-color: black;
}

.navlogo img {
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin: 0 auto;
}

.navsize {
    max-width: 400px;
    margin: 0 auto;
}

.navlist {
    color: #fff;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: "karlabold", Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.navlist a {
    text-decoration: none;
    color: #fff;
}

.navlist a:visited {
    text-decoration: none;
}

header {
    padding: 2rem 1rem;
    text-align: center;
    background: -webkit-linear-gradient(left, rgba(76, 76, 76, 0.3) 0%, rgba(19, 19, 19, 0.3) 100%), url('../images/kayak-bkgd.jpg') no-repeat fixed top;
    background: -o-linear-gradient(left, rgba(76, 76, 76, 0.3) 0%, rgba(19, 19, 19, 0.3) 100%), url('../images/kayak-bkgd.jpg') no-repeat fixed top;
    background: linear-gradient(to right, rgba(76, 76, 76, 0.3) 0%, rgba(19, 19, 19, 0.3) 100%), url('../images/kayak-bkgd.jpg') no-repeat fixed top;
    background-size: inherit;
}

header .text {
    top: 100px;
    color: white;
    margin-top: 35px;
    margin-bottom: 35px;
}

.greatoutdoors {
    font-size: 300%;
    line-height: 150%;
}

.greatoutdoors {
    margin-bottom: -10px;
    margin-top: 0;
}
.greatoutdoors,
.fromthe {
    text-shadow: 2px 2px #646464;
}

.fromthe {
    margin-bottom: 2%;
    margin-top: 5px;
}

.rentour {
    background-color: hsla(328, 100%, 0%, 0.50);
    padding: 2%;
    line-height: 150%;
    max-width: 500px;
    margin: 0 auto;
}

header button {
    border-radius: 160px 160px 160px 160px;
    -moz-border-radius: 160px 160px 160px 160px;
    -webkit-border-radius: 160px 160px 160px 160px;
    border: 10px solid #e2574c;
    background: #e2574c;
    color: #fff;
    margin-top: 5%;
}

header button:hover {
    border: 10px solid #b64036;
    background: #b64036;
}

.about,
.location,
.rentals h2 {
    text-align: center;
}

.about p,
.location p,
.rentals p {
    color: #2d2d2d;
}

.about p,
.location p {
    margin-bottom: 2em;
}

.about h2,
.location h2,
.rentals h2 {
    color: #646464;
    font-size: 300%;
    margin: 0.5em;
}

.rowimages {
    display: flex;
    flex-direction: column;
}
.soloimage {
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-between;
}

.soloimage img {
    width: 100%;
    -webkit-box-shadow: 2px 2px 2px rgba(102, 102, 102, 1);
    -moz-box-shadow: 2px 2px 2px rgba(102, 102, 102, 1);
    box-shadow: 2px 2px 2px rgba(102, 102, 102, 1);
}

.soloimage img:last-child {
    padding-top: 10px;
}

.rentalstext,
.table {
    width: 50%;
    display: inline-flex;
}

.rentalinfo {
    display: flex;
    flex-direction: column;
}

.rentalitem {
    flex: 1;
}
.rentalitem a {
  color: #e2574c;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, td {
    border: 1px solid #C8C8C8;
}

.tabletop {
  height: 3em;
  font-family: "karlabold", Arial, sans-serif;
  background-color: #E6E6E6;
}

.tableprice,
.tabletop {
  text-align: center;
}

.tableprice,
.tableduration {
  padding: 0.8em;
}

iframe {
    width: 100%;
    margin-bottom: 5%;
    border:0;
}

footer {
    background-color: #242424;
}

.footer {
  padding-top: 3em;
  padding-bottom: 3em;
  text-align: center;
}

.information p:last-child {
  color: #969696;
}

footer p,
footer a {
    max-width: 100%;
    color: #fff;
}

footer ul {
    list-style: none;
    color: #fff;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0;
}

li {
  display: none;
}

.fa {
    margin-right: 1em;
    color: #fff;
}

.socialmediatablet {
  display: none;
}

.rentalitem a:hover,
.footer a:hover,
.navlist a:hover {
  color: #b64036;
}

@media screen and (min-width: 600px) {

    .navtablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .navsize {
      margin: 0;
    }

    .navlist {
      display: inherit;
    }

    .navlist a {
      padding-left: 2em;
    }

    .rowimages {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .imgmiddle {
        padding-top: 0;
    }

    .soloimage {
        width: 49%;
        flex-wrap: wrap;
        overflow: hidden;
        justify-content: space-between;
    }

    .soloimage img {
        width: 100%;
        justify-content: space-between;
        padding-left: 5px;
    }

    .soloimage img:last-child  {
        padding-top: 2px;
    }

    .rentalinfo {
      flex-direction: row;
    }

    .rentaltext {
      padding-right: 1em;
    }

    iframe {
        height: 200px;
    }

    footer .footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    footer p {
      text-align: left;
    }

    .socialmedia {
      display: none;
    }

    .socialmediatablet {
      display: block;
    }

    footer ul {
      display: flex;
      flex-direction: column;
      text-align: left;
      line-height: 1.5em;
    }

    li {
      display: flex;
      text-align: left;
    }

}
@media screen and (min-width: 1140px) {
    .container {
        max-width: 1140px;
        margin: 0 auto;
    }

    header {
        padding-left: 0;
        padding-right: 0;
    }
    header button {
      margin-top: 2%;
    }
    .rowimages {
        flex-wrap: nowrap;
    }

    .soloimage img {
        flex-wrap: nowrap;
    }

    .soloimage img:last-child {
        padding-top: 0px;
    }

    .socialmedia {
        justify-content: flex-end;
    }
}
