html, body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

h2 {
    color: #525454;
    font-size: 250%;
}

p {
    font-size: 150%;
}

.container-weather {
    float: right;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    padding: 0.5%;
    text-align: center;
    font-size: smaller;
}

.weather-box {
    position: fixed;
    color: #525454;
    background-color: rgba(255, 255, 255, 0.9);;
    padding: 0.5em;
}

.wweather-check {
    margin: 0;
}

.container-menu {
    position: relative;
    z-index: 1;
    padding-top: 1em;
    padding-left: 1em;
}

.menubutton {
    position: fixed;
    font-size: 2.5em;
    z-index: 3;
    cursor: pointer;
    color: #525454;
}

.side-menu {
    top: 0;
    margin-right: -100vw;
    left: -180px;
    bottom: 0;
    width: 45%;
    background-color: white;
    position: fixed;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.side-menu-content {
    margin: 5%;
    margin-top: 10%;
}

#map {
    bottom: 0px;
    height: 100vh;
    width: 100vw;
    position: absolute;
}


/*MEDIA QUERIES*/

@media screen and (min-width: 600px) {
    .side-menu {
        width: 40%;
    }
    h2 {
        font-size: 200%;
    }
    p {
        font-size: 100%;
    }
    .container-weather {
      float: none;
      font-size: initial;
    }
    .weather-check {
      margin: 0;
    }
}

@media screen and (min-width: 1140px) {
    .side-menu {
        width: 20%;
    }
}

@media screen and (min-width: 2040px) {}
