/** HEADER **/
#header-nav {
  background-color: #9AB9E1;
  border-radius: 0;
  border: 0;
}
#header-nav .navbar-brand a{
  color: #fff;
  font-weight: bold;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list{
  background: #D0E5FF;
  border: 1px solid #e7e7e7;
  margin-top: 0;
  margin-bottom: 0;
}

#nav-list hr{
  margin-top: 0px;
  margin-bottom: 0px;
  color: #205393;
}

#header-nav .navbar-toggle:hover span.icon-bar, #header-nav .navbar-toggle:focus span.icon-bar{
  background: #888;
}

  /** MAIN CONTENT **/

h1 {
    font-family: Verdana, Geneva, sans-serif;
	color: #2E588E;
	font-weight: bolder;
	margin-bottom: 40px
 }

.menu-content {
  background: #999999;
  margin-bottom: 20px;
}
