.catclicker {
  text-align: center;
}

.catlist {
  display: flex;
  flex-direction: column;
  border: 1px solid #969696;
  border-radius: 2%;
  padding: 0;
}

/*a {
  font-size: 150%;
  line-height: 2em;
  text-transform: uppercase;
  text-align: center;
  color: #53667E;
}

a:not(:first-child) {
  border-top: 1px solid #969696;
}

a:hover {
  background: #E5E5E7;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
  font-weight: bold;
}*/
