body {
    text-align: center;
    background-color: #ddd;
    font-family: 'Press Start 2P', sans-serif;
}

header {
	max-width: 800px;
	margin: 0 auto;
}

.instructions {
	max-width: 670px;
	margin: 0 auto;
}

.text-instructions {
	font-family: 'Roboto', sans-serif;
}
